.competencies__title {
	margin-bottom: 80px;
}

.competencies__list {
	display: flex;
	flex-wrap: wrap;
	gap: 77px 40px;
}

.competencies__item {
	width: calc(50% - 25px);
}

.competencies__item img {
	margin-bottom: 15px;
	width: 50px;
	height: 50px;
}

.competencies__subtitle {
	font-size: 35px;
	line-height: 46px;
	color: var(--my-color);
	margin-bottom: 15px;
}

.competencies__text {
	font-size: 22px;
	line-height: 29px;
}

@media (max-width: 960px) {
	.competencies__subtitle {
		font-size: 28px;
		line-height: 36px;
		margin-bottom: 15px;
	}

	.competencies__item img {
		margin-bottom: 10px;
		width: 36px;
		height: 36px;
	}

	.competencies__text {
		font-size: 18px;
		line-height: 23px;
	}
}

@media (max-width: 767px) {
	.competencies__title {
		font-size: 40px;
		margin-bottom: 60px;
	}

	.competencies__list {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}

	.competencies__item {
		width: 100%;
	}
}
