.services__title {
	margin-bottom: 80px;
}
.services__list {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.services__description {
	display: flex;
	padding: 40px;
	background-color: #191c19;
	border-radius: 30px;
}

.services__subtitle {
	width: 50%;
	font-size: 55px;
	line-height: 60px;
	color: var(--my-color);
}

.services__text {
	width: 50%;
	font-size: 22px;
	line-height: 29px;
}
