@import url(../styles/header.css);
@import url(../styles/project.css);
@import url(../styles/competencies.css);
@import url(../styles/services.css);
@import url(../styles/contacts.css);
@import url(../styles/footer.css);
@import url(../styles/burger.css);

html {
	scroll-behavior: smooth;
}

:root {
	--my-color: rgb(255, 204, 50);
}

body {
	background-color: #000;
}

body,
button {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}

section,
header {
	margin-bottom: 150px;
}

.body_fixed {
	overflow: hidden;
}

h1,
h2,
h3,
div,
a,
p {
	letter-spacing: -0.03em;
}

p,
h2,
h3 {
	color: #fff;
}

h2 {
	font-size: 55px;
	line-height: 72px;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 1155px;
	margin: 0 auto;
}

@media (max-width: 1199px) {
	.container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 960px) {
	h2 {
		font-size: 45px;
		line-height: 59px;
	}
}

@media (max-width: 767px) {
	section,
	header {
		margin-bottom: 100px;
	}

	.container {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
}
